<div class="row">
    <div class="col-12">
        <div class="contact-form-container text-center">
            <form id="consultation" name="consultation" class="consultation" data-netlify="true">
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                  <i class="material-icons">email</i>
                                              </span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email">

                        </div>
                        <small id="emailHelp" class="form-text text-muted">I will never share your email with anyone else.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-sm btn-rose">START NOW</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

