<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg bg-info"
     color-on-scroll="200">
    <div class="container">
        <div class="navbar-translate">
            <a class="" href="https://dillonbrowne.com/">
                <img class="nav-logo"
                     src="img/db.png" alt="DB">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.linkedin.com/in/dillonbrowne/" target="_blank"
                       data-original-title="Follow me on LinkedIn">
                        <i class="nav-social-icon fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.facebook.com/dillon.browne" target="_blank"
                       data-original-title="Like me on Facebook">
                        <i class="nav-social-icon fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://github.com/dillonbrowne" target="_blank"
                       data-original-title="Check out my code">
                        <i class="nav-social-icon fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
