<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    <link rel="icon" type="image/png" href="img/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="img/icons/favicon-16x16.png" sizes="16x16"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Dillon Browne is a freelance web developer residing in Colorado. He specializes in website development for many different businesses.">
    <meta name="keywords" content="Dillon Browne, Colorado, Colorado Springs, Denver">
    <meta name="author" content="Dillon Browne">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>
        Dillon Browne - Freelance Web Developer residing in Colorado Springs
    </title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<!-- Start of Async Drift Code -->
<script>
    "use strict";

    !function() {
        var t = window.driftt = window.drift = window.driftt || [];
        if (!t.init) {
            if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
            t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                t.factory = function(e) {
                    return function() {
                        var n = Array.prototype.slice.call(arguments);
                        return n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function(e) {
                t[e] = t.factory(e);
            }), t.load = function(t) {
                var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                var i = document.getElementsByTagName("script")[0];
                i.parentNode.insertBefore(o, i);
            };
        }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('cncmwxbz9wn7');
</script>
<!-- End of Async Drift Code -->
<body class="home blog index-page sidebar-collapse app-data index-data home-data front-page-data">
{{ block "header" . }}{{ partial "header" . }}{{end}}
{{ block "nav" . }}{{ partial "landing/nav" . }}{{end}}

<div class="wrapper">
    <div class="row">
            <div class="page-header col-lg-8 col-md-6 col-sm-12" data-parallax="false"
                 style="background-image: url('img/dillon-browne-freelance-developer-highlight.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 offset-md-4 text-left">
                            <div id="typed-strings">
                                <p class="sr-only">blog</p>
                                <p class="sr-only">photography</p>
                                <p class="sr-only">e-commerce</p>
                                <p class="sr-only">marketing</p>
                                <p class="sr-only">corporate</p>
                                <p class="sr-only">creative</p>
                                <p class="sr-only">personal</p>
                                <p class="sr-only">nonprofit</p>
                                <p class="sr-only">internal</p>
                            </div>
                            <h2 class="title text-uppercase text-white text-right d-none d-md-block">
                                <small class="text-white">I am your developer <br /> to begin your next</small>
                                <br />

                                <span class="text-info" id="typedDesktop">perfect</span>
                                <br />
                                <small class="text-white">website today.</small>

                            </h2>
                            <h3 class="title text-uppercase text-white text-center d-block d-md-none">
                                <small class="text-white">I am your developer <br /> to begin your next</small>
                                <br />
                                <span class="text-info" id="typedMobile">perfect</span>
                                <br />
                                <small class="text-white">website today.</small>

                            </h3>

                        </div>
                    </div>
                    <div class="row d-block d-md-none">
                        <div class="col-md-10 ml-auto mr-auto animated fadeInRightBig">
                            <div class="card">
                                <div class="card-header card-header-rose">
                                    <h4>START YOUR FREE CONSULTATION NOW</h4>
                                </div>
                                <div class="card-body">
                                    <h5>Lets begin your free consultation today</h5>
                                    {{ block "contact-form-mobile" . }}{{ partial "landing/contact-form" . }}{{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="page-header d-none col-lg-4 col-md-6 bg-cta d-md-block position-relative">
                <canvas id="granim-canvas"></canvas>
                <div class="container cta-container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto animated fadeInRightBig">
                            <div class="card">
                                <div class="card-header card-header-rose">
                                    <h4>START YOUR FREE CONSULTATION NOW</h4>
                                </div>
                                <div class="card-body">
                                    <h5>Lets begin your free consultation today</h5>
                                    {{ block "contact-form1" . }}{{ partial "landing/contact-form" . }}{{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    <div class="main">
        <div id="about-me" class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <h2 class="title animated zoomIn">About Me</h2>
                        <h5 class="description"> I am freelance web developer in Denver, Colorado. I create websites, and web applications big or small for individuals and companies.I have and have had clients in the Denver area. I am an expert Wordpress developer, php application specialist ,and a skilled database administrator.
                        </h5>
                        <button class="btn btn-sm btn-rose" data-toggle="modal" data-target="#contactModal">Get Started Now</button>
                    </div>
                    <div class="col-md-6 text-left">
                        <div class="row">
                            <div class="col-10 offset-md-2 text-left">
                                <h2 class="title animated zoomIn">What I Do</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 text-left offset-md-2">
                                <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-check icon icon-primary"></i>Website Application Development</li>
                                    <li><i class="fa-li fa fa-check icon icon-primary"></i>Database Administration/Development</li>
                                    <li><i class="fa-li fa fa-check icon icon-primary"></i>E-Commerce Development</li>
                                    <li><i class="fa-li fa fa-check icon icon-primary"></i>WordPress Development</li>
                                    <li><i class="fa-li fa fa-check icon icon-primary"></i>Server Administration</li>
                                </ul>
                                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#contactModal">Get Started Now</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="portfolio" class="section text-center bg-dark text-light" style="background-image: url('img/dillon-browne-freelance-developer-highlight.jpg'">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title text-light">Portfolio <br /> <small>A Few Recent Projects</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="team-player">
                            <div class="card bmd-card-raised">
                                <a class="link" href="https://stronvivo.com/" target="_blank" ><img src="./img/clients/stronvino.jpg"
                                                                                                    alt="Thumbnail Image" class="img-fluid rounded"></a>
                            </div>
                            <span>E-Commerce:</span>
                            <span class="small">Supplements</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="team-player">
                            <div class="card bmd-card-raised">
                                <a class="link" href="https://fredericksburgchiropractic.com/" target="_blank" >
                                    <img src="./img/clients/fredericksburgchiropractic.jpg"
                                         alt="Thumbnail Image" class="img-fluid rounded">
                                </a>
                            </div>
                            <span>Health:</span>
                            <span class="small">Chiropractics</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="team-player">
                            <div class="card bmd-card-raised">
                                <a class="link" href="http://howardbeachfamilies.com/" target="_blank" >
                                    <img src="./img/clients/howardbeach.jpg"
                                         alt="Thumbnail Image" class="img-fluid rounded">
                                </a>

                            </div>
                            <span>Blog:</span>
                            <span class="small">Local Directory</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="team-player">
                            <div class="card bmd-card-raised">
                                <a class="link" href="http://onconetics.com/" target="_blank" >
                                    <img src="./img/clients/onconetics.jpg"
                                         alt="Thumbnail Image" class="img-fluid rounded">
                                </a>

                            </div>
                            <span>Marketing:</span>
                            <span class="small">Research Studies</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="team-player">
                            <div class="card bmd-card-raised">
                                <a class="link" href="http://zookrentals.com/" target="_blank" >
                                    <img src="./img/clients/zook-page.jpg"
                                         alt="Thumbnail Image" class="img-fluid rounded">
                                </a>

                            </div>
                            <span>Real Estate:</span>
                            <span class="small">VRBO & Airbnb</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="team-player">
                            <div class="card bmd-card-raised">
                                <a class="link" href="http://www.cmsmailservices.com/" target="_blank" >
                                    <img src="./img/clients/cms.jpg"
                                         alt="Thumbnail Image" class="img-fluid rounded">
                                </a>

                            </div>
                            <span>Business:</span>
                            <span class="small">Mailing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact-me" class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">How To Get in Touch</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center align-middle">

                        <h4>Send me your email</h4>
                        <h4 class="small">I will email you back within a day</h4>
                    </div>
                    <div class="col-md-9 text-center align-middle">
                        <div class="col-md-8 mr-auto ml-auto">
                            <form id="EmailMe" name="EmailMe" netlify-honeypot="email-bot-field" data-netlify="true">
                                <p class="d-none">
                                    <label>Don’t fill this out if you're human: <input name="email-bot-field" /></label>
                                </p>
                                <div class="form-group bmd-form-group">
                                    <div class="form-row align-items-center">
                                        <div class="col-8">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">email</i>
                                </span>
                                                </div>
                                                <input name="email" type="email" class="form-control" placeholder="contact@dillonbrowne.com" required>
                                            </div>
                                        </div>

                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-rose btn-sm">Email Me</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mr-auto ml-auto">
                            <h2>OR</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center align-middle">

                        <h4>Send me your number</h4>
                        <h4 class="small">I will send you a text within a day</h4>
                    </div>
                    <div class="col-md-9 text-center align-middle">
                        <div class="col-md-8 mr-auto ml-auto">
                            <form id="TextMe" name="TextMe" netlify-honeypot="phone-bot-field" data-netlify="true">
                                <p class="d-none">
                                    <label>Don’t fill this out if you're human: <input name="phone-bot-field" /></label>
                                </p>
                                <div class="form-group bmd-form-group">
                                    <div class="form-row align-items-center">
                                        <div class="col-8">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">phone</i>
                                </span>
                                                </div>
                                                <input name="phone_number" type="text" class="form-control" placeholder="(719) 301-9225" required>
                                            </div>
                                        </div>

                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-rose btn-sm">Text Me</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    {{ block "contact-modal" . }}{{ partial "landing/contact-modal" . }}{{end}}
    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    <script async src="/app.js"></script>
</div>
</body>
</html>
