<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P3LPKTR');</script>
  <link rel="icon" type="image/png" href="img/icons/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="img/icons/favicon-16x16.png" sizes="16x16"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="Dillon Browne is a freelance web developer residing in Colorado. He specializes in website development for many different businesses.">
  <meta name="keywords" content="Dillon Browne, Colorado, Colorado Springs, Denver">
  <meta name="author" content="Dillon Browne">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>
    Dillon Browne - Freelance Web Developer residing in Colorado Springs
  </title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
  <link rel="stylesheet" href="css/main.css"/>
  <!-- Start of Async Drift Code -->
  <script>
      "use strict";

      !function() {
          var t = window.driftt = window.drift = window.driftt || [];
          if (!t.init) {
              if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
              t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                  t.factory = function(e) {
                      return function() {
                          var n = Array.prototype.slice.call(arguments);
                          return n.unshift(e), t.push(n), t;
                      };
                  }, t.methods.forEach(function(e) {
                  t[e] = t.factory(e);
              }), t.load = function(t) {
                  var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                  var i = document.getElementsByTagName("script")[0];
                  i.parentNode.insertBefore(o, i);
              };
          }
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('cncmwxbz9wn7');
  </script>
  <!-- End of Async Drift Code -->

</head>

  <body class="home blog index-page sidebar-collapse app-data index-data home-data front-page-data">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3LPKTR"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ block "header" . }}{{ partial "header" . }}{{end}}
  {{ block "nav" . }}{{ partial "nav" . }}{{end}}

  <div class="wrapper">
    <div class="page-header header-filter" data-parallax="false"
         style="background-image: url('img/banner-river.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <img class="page-header-logo animated fadeIn"
                 src="img/dillon-browne-dark.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div id="about-me" class="section text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">About Me</h2>
              <h5 class="description"> I currently live in Colorado Springs, Colorado.
                I enjoy hiking, exercising, and relaxing with friends. I have been a freelance full stack
                developer for over 8 years.
                You will not find anyone who works as hard as I do. I hope to have the honor and priviledge of meeting you to work on your next website.</h5>
            </div>
          </div>
          <div class="features">
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="material-icons">place</i>
                  </div>
                  <h4 class="info-title " data-aos="fadeInLeft">Colorado Springs, CO</h4>
                  <p data-aos="zoomIn">I am a web developer residing in Colorado Springs, Colorado.
                    I work remotely for a variety of clients and companies as their freelance web developer.
                    I coordinate and collaborate on projects with developers & designers from 5 different
                    timezones.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">done</i>
                  </div>
                  <h4 class="info-title" data-aos="fadeInUp">My Promise</h4>
                  <p data-aos="zoomIn">I promise to provide an outstanding end-term product for all of my clients while
                    ensuring a system of continual communication. I am here to meet all of your web development needs. </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">fingerprint</i>
                  </div>
                  <h4 class="info-title" data-aos="fadeInRight">Identified & Trusted</h4>
                  <p data-aos="zoomIn">You only work with me directly as your freelancer. I have major commercial clients
                    residing all over the nation! Locally, I work with corporations in the Denver area,
                    collaborating on many different projects.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tech" class="section text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto" data-aos="swing">
              <h2 class="title" data-aos="swing">Technologies I Use</h2>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-md-12 text-center">
              <div class="icon icon-primary icon-section-header">
                <i class="fa fa-flask"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-md-3 text-left">
              <h4 class="prim">Languages</h4>
              <ul class="fa-ul" data-aos="zoomIn">
                <li><i class="fa-li fab fa-html5"></i>HTML</li>
                <li><i class="fa-li fab fa-sass"></i>SASS</li>
                <li><i class="fa-li fab fa-php"></i>PHP</li>
                <li><i class="fa-li fab fa-python"></i>Python</li>
              </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 text-left">
              <h4>Frameworks</h4>
              <ul class="fa-ul" data-aos="zoomIn">
                <li><i class="fa-li fab fa-angular"></i>AngularJS</li>
                <li><i class="fa-li fab fa-laravel"></i>Laravel</li>
                <li><i class="fa-li fa fa-code"></i>BootStrap</li>
                <li><i class="fa-li fab fa-js"></i>jQuery</li>
              </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 text-left">
              <h4>Software</h4>
              <ul class="fa-ul" data-aos="zoomIn">
                <li><i class="fa-li fab fa-node-js"></i>Node.JS</li>
                <li><i class="fa-li fab fa-git"></i>Git</li>
                <li><i class="fa-li fab fa-wordpress"></i>WordPress</li>
                <li><i class="fa-li fab fa-npm"></i>NPM</li>
              </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 text-left">
              <h4>Services</h4>
              <ul class="fa-ul" data-aos="zoomIn">
                <li><i class="fa-li fab fa-keycdn"></i>KeyCDN</li>
                <li><i class="fa-li fab fa-aws"></i>AWS</li>
                <li><i class="fa-li fab fa-digital-ocean"></i>DigitalOcean</li>
                <li><i class="fa-li fa fa-cloud"></i>CloudFlare</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="services" class="section text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">Let's Talk Product</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="img/dillon-browne-head.jpg"
                         alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Dillon Browne
                    <br>
                    <small class="card-description text-muted">Full Stack Developer</small>
                    <br />
                      <a href="tel:+17193019225">
                    <button class="btn btn-primary btn-fab btn-round mr-3">
                      <i class="material-icons">phone</i>
                      <div class="ripple-container"></div></button>
                      </a>
                      <a href="mailto:contact@dillonbrowne.com">
                      <button class="btn btn-primary btn-fab btn-round ml-3">
                      <i class="material-icons">email</i>
                          <div class="ripple-container"></div></button></a>




                  </h4>

                  <div class="card-body">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 text-left ml-auto mr-auto pt-2">
              <h4 class="card-title text-muted">What I can do for you:
              </h4>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-check icon icon-primary"></i>Website Application Development</li>
                <li><i class="fa-li fa fa-check icon icon-primary"></i>Database Administration/Development</li>
                <li><i class="fa-li fa fa-check icon icon-primary"></i>Website Speed Optimization</li>
                <li><i class="fa-li fa fa-check icon icon-primary"></i>WordPress Development</li>
                <li><i class="fa-li fa fa-check icon icon-primary"></i>Server Administration</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="portfolio" class="section text-center bg-dark text-light">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title text-light">Portfolio <br /> <small>A Few Recent Projects</small></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4" data-aos="fade-right">
              <div class="team-player">
                <div class="card bmd-card-raised">
                  <a class="link" href="https://stronvivo.com/" target="_blank" ><img src="./img/clients/stronvino.jpg"
                                                         alt="Thumbnail Image" class="img-fluid rounded"></a>
                </div>
                <span>E-Commerce:</span>
                <span class="small">Supplements</span>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
              <div class="team-player">
                <div class="card bmd-card-raised">
                  <a class="link" href="https://fredericksburgchiropractic.com/" target="_blank" >
                  <img src="./img/clients/fredericksburgchiropractic.jpg"
                       alt="Thumbnail Image" class="img-fluid rounded">
                  </a>
                </div>
                <span>Health:</span>
                <span class="small">Chiropractics</span>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4" data-aos="fade-left">
              <div class="team-player">
                <div class="card bmd-card-raised">
                  <a class="link" href="http://howardbeachfamilies.com/" target="_blank" >
                  <img src="./img/clients/howardbeach.jpg"
                       alt="Thumbnail Image" class="img-fluid rounded">
                  </a>

                </div>
                <span>Blog:</span>
                <span class="small">Local Directory</span>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4" data-aos="fade-right">
              <div class="team-player">
                <div class="card bmd-card-raised">
                  <a class="link" href="http://onconetics.com/" target="_blank" >
                  <img src="./img/clients/onconetics.jpg"
                       alt="Thumbnail Image" class="img-fluid rounded">
                  </a>

                </div>
                <span>Marketing:</span>
                <span class="small">Research Studies</span>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
              <div class="team-player">
                <div class="card bmd-card-raised">
                  <a class="link" href="http://zookrentals.com/" target="_blank" >
                  <img src="./img/clients/zook-page.jpg"
                       alt="Thumbnail Image" class="img-fluid rounded">
                  </a>

                </div>
                <span>Real Estate:</span>
                <span class="small">VRBO & Airbnb</span>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4" data-aos="fade-left">
              <div class="team-player">
                <div class="card bmd-card-raised">
                  <a class="link" href="http://www.cmsmailservices.com/" target="_blank" >
                  <img src="./img/clients/cms.jpg"
                       alt="Thumbnail Image" class="img-fluid rounded">
                  </a>

                </div>
                <span>Business:</span>
                <span class="small">Mailing</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contact-me" class="section text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">How To Get in Touch</h2>

            </div>
          </div>
          <div class="row">
            <div class="col-md-3 text-center align-middle">

              <h4>Send me your email</h4>
              <h4 class="small">I will email you back within a day</h4>
            </div>
            <div class="col-md-9 text-center align-middle">
              <div class="col-md-8 mr-auto ml-auto">
                <form id="EmailMe" name="EmailMe" netlify-honeypot="email-bot-field" data-netlify="true">
                    <p class="d-none">
                        <label>Don’t fill this out if you're human: <input name="email-bot-field" /></label>
                    </p>
                  <div class="form-group bmd-form-group">
                    <div class="form-row align-items-center">
                      <div class="col-8">
                        <div class="input-group">
                          <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">email</i>
                                </span>
                          </div>
                          <input name="email" type="email" class="form-control" placeholder="contact@dillonbrowne.com" required>
                        </div>
                      </div>

                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-sm">Email Me</button>
                      </div>
                    </div>

                  </div>
                </form>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mr-auto ml-auto">
                <h2>OR</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 text-center align-middle">

              <h4>Send me your number</h4>
              <h4 class="small">I will send you a text within a day</h4>
            </div>
            <div class="col-md-9 text-center align-middle">
              <div class="col-md-8 mr-auto ml-auto">
                <form id="TextMe" name="TextMe" netlify-honeypot="phone-bot-field" data-netlify="true">
                    <p class="d-none">
                        <label>Don’t fill this out if you're human: <input name="phone-bot-field" /></label>
                    </p>
                  <div class="form-group bmd-form-group">
                    <div class="form-row align-items-center">
                      <div class="col-8">
                        <div class="input-group">
                          <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">phone</i>
                                </span>
                          </div>
                          <input name="phone_number" type="text" class="form-control" placeholder="(719) 301-9225" required>
                        </div>
                      </div>

                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-sm">Text Me</button>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  </div>
  <script async src="/app.js"></script>
  </body>
</html>
