.nav-logo {
  height: 60px;
}

.page-header-logo {
  width: 50vw;
}

.page-header-area {
  text-align: center;
}

.welcome-message {
  width: 95vw;
}

.nav-social-icon {
  font-size: 1.2rem;
}

.icon-section-header {
  font-size: 8.5rem;
}

.cta-section {
  width: 99%;
}